<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seasons</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/js/menu.js"></script>
</head>
<body>
    <header>
        <button class="hamburger" onclick="toggleMenu()">☰</button>
        <h1>Seasons</h1>
        <div class="nav-menu">
            <a href="/">Home</a>
            <a href="/monsters">Monsters</a>
            <a href="/seasons" class="current">Seasons</a>
            <a href="/strengths">Strengths</a>
            <a href="/weaknesses">Weaknesses</a>
        </div>
    </header>
    <div class="container">
        <ul class="season-list">
            {% for season in seasons %}
            <li><a href="/season/{{ season['uri'].split('_')[-1] }}">Season {{ season['name'].split(' ')[-1] }} - Rating: {{ season['rating'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        <p>&copy; RPCW 2024</p>
    </footer>
</body>
</html>
